# Ignorar archivos y carpetas generados por Visual Studio
.vs/
*.vsidx
*.vscode/
*.user
*.suo
*.dbmdl
*.opendb
*.obj/
*.exe
*.pdb
*.Cache/
*.log
*.pidb
*_ReSharper.*
*.resharper
*.userosscache
*.sln.docstates
